In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import requests
import json

import os
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup

from IPython.core.display import HTML, display

In [7]:
#post request
r = requests.post('https://ies-midterm.soulution.rocks/login', data=json.dumps({"cuni":"75840853"}))
r.status_code

In [17]:
#store as df
json_response = pd.read_json(r.text, typ='frame')

'{"data": {"personal_code": "c0bf8ccf", "dataset_ids": ["e2beb850b2", "403c8fd1da", "24f88cb68c", "fc1e690fcf", "ce92a7afca", "64a5d99db0"]}, "message": "Hello, Marek Jan! Good luck with the midterm. GET your data set from /data/file_id endpoint; use the codes you received in the data response as the file_id parameter! Print the personal code in your notebook."}'

In [34]:
#get personal code
personal_code = json_response.data.personal_code
personal_code

'c0bf8ccf'

In [35]:
#store dataset ids
dataset_ids = json_response.data.dataset_ids

In [87]:
#function to get valid response and corresponding dataset data
def get_dataset(dataset_id):
  r = requests.get('https://ies-midterm.soulution.rocks/data/{}'.format(dataset_id))
  if r.status_code != 200:
    return get_dataset(dataset_id)
  else:
    return r.text

In [104]:
#store values in list
l = [{
    'dataset_id':dataset,
    'data_frame':pd.read_json(get_dataset(dataset), typ='frame').data.company
} for dataset in dataset_ids]

In [130]:
companies_df = pd.DataFrame(l)
companies_df

   dataset_id company
0  e2beb850b2     IAG
1  403c8fd1da     CPG
2  24f88cb68c     PSN
3  fc1e690fcf     NWG
4  ce92a7afca     PRU
5  64a5d99db0    LAND

In [145]:
#get company data into dfs
frames = {}
for i in companies_df.dataset_id:
    #do some calcs to get a dataframe called 'df'
    frames[i] = pd.read_json(get_dataset(i), typ='frame').data.data

In [157]:
df = pd.DataFrame(frames['e2beb850b2'])
df.columns = ['Date']
df[df[0].isnull()]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6]
Index: []